.example-spacer {
  flex: 1 1 auto;
  //ci sono 3 valori: flex-grow, flex-shrink e flex-basis. In questo caso, il primo valore è 1, quindi l'elemento crescerà per occupare lo spazio disponibile. 
  //Il secondo valore è 1, quindi l'elemento si restringerà se necessario. Il terzo valore è auto, quindi la dimensione di base dell'elemento sarà determinata dal suo contenuto.
}

.toolbar {
  background-color: var(--mat-sys-primary);
  //var(--mat-sys-primary) è una variabile CSS che rappresenta il colore primario del tema Material Design. 
  //Utilizzando questa variabile, il colore della toolbar si adatterà automaticamente al tema scelto dall'utente, garantendo coerenza visiva in tutta l'applicazione.
}