<mat-toolbar class="toolbar">
  <button routerLink="/home" matIconButton>
    <!-- matIconButton è una direttiva -->
    <mat-icon>home</mat-icon>
    <!-- I mat-icon usano icone material. Se invece di home si volesse usare un altro icona, basta cambiare il nome dell'icona all'interno delle tag <mat-icon> (ad esempio menu)-->
  </button>

  <span>Gutenberg Books</span>

  <span class="example-spacer"></span>

  <!-- Copilot: https://copilot.microsoft.com/shares/cNyTyh9n1E7qBTnzN8eGM -->
 <!-- 🔍 Search bar --> 
  <mat-form-field appearance="fill" class="search-field"> 
    <mat-icon matPrefix>search</mat-icon> 
    <input matInput placeholder="Cerca libri..." [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" /> 
  </mat-form-field>

  <!-- <button matIconButton>
    <mat-icon>favorite</mat-icon>
  </button>  -->
  <button routerLink="/list" matIconButton>
    <mat-icon>list</mat-icon>
  </button>
</mat-toolbar>





