.example-spacer {
  flex: 1 1 auto;
  //ci sono 3 valori: flex-grow, flex-shrink e flex-basis. In questo caso, il primo valore è 1, quindi l'elemento crescerà per occupare lo spazio disponibile. 
  //Il secondo valore è 1, quindi l'elemento si restringerà se necessario. Il terzo valore è auto, quindi la dimensione di base dell'elemento sarà determinata dal suo contenuto.
}

.toolbar {
  background-color: var(--mat-sys-primary);
  //var(--mat-sys-primary) è una variabile CSS che rappresenta il colore primario del tema Material Design. 
  //Utilizzando questa variabile, il colore della toolbar si adatterà automaticamente al tema scelto dall'utente, garantendo coerenza visiva in tutta l'applicazione.
  color: aliceblue;
  //Questo rende bianco tutto il testo e le icone dentro la toolbar, mantenendo il colore di sfondo Material.

  display: flex;
  align-items: center;
}


//Copilot header-component: https://copilot.microsoft.com/shares/bWyvzDULgftEfPwVqJFuH

.search-field { 
  max-width: 200px; 
  width: 100%;
  height: 75px;
  margin-right: 20px; 
  padding-top: 20px;
}

mat-icon {
  color: aliceblue;
}

