<div class="container">
    @for (book of gutenbergServ.books(); track $index) {
    <!-- gutenbergServ.books() ritorna un array di oggetti Book -->
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="book-title">{{book.title}}</mat-card-title>
            <mat-card-subtitle>{{book.authors[0]?.name}}</mat-card-subtitle>
            <!-- authors[0]? indica che se authors è un array, prende il primo elemento (index 0), altrimenti restituisce undefined -->
        </mat-card-header>
        <img mat-card-image src="{{book.formats['image/jpeg']}}" alt="books">
        <mat-card-content>
            <p>
                {{book.summaries}}
            </p>
        </mat-card-content>
    </mat-card>

    }
</div>